<template>
  <main class="">
    <div class="container pt-7 pb-4">
      <ProductPreviews :products="products" />
    </div>
  </main>
</template>

<script>
export default {
  name: 'ProductIndexPage',

    middleware (ctx) {
    ctx.$gtm.push({ event: 'view_item' })
  },

  data() {
    return {
      products: [],
      productCount: 0,
      pages: {},
      currentPage: 0,
      settings: {
        productCols: 3,
      },
    }
  },

  async fetch() {
    const { $swell, $route, $store } = this
    const page = parseInt($route.query.page) || 1
    const limit = parseInt($route.query.limit) || 24
    const tag = await $store.state.store_tag

    // Set preload data
    this.products = [...Array(limit).keys()]

    // Fetch all products
    const products = await $swell.products.list({ 
      "tags": tag,
      sort: 'date_updated desc',
      page, 
      limit })

      console.log(123,tag)

    // Set component data
    if (products) {
      this.products = products.results
      this.productCount = products.count
      this.pages = products.pages
      this.currentPage = page
    }
  },

  // Watch URL query for pagination changes (triggers fetch method again)
  // https://nuxtjs.org/api/pages-watchquery/
  watchQuery: ['page'],
}
</script>
